<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>

    <h1>Welcome to the Home Page</h1>
    <nav>
        <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">Post</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if (bloggers.length > 0){ %>
            <% bloggers.forEach(blog=>{ %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
            <%})%>
        <%} else {%>
            <h3>No one is trying to blog</h3>
        <%}%>
    </div>


    <%- include( '../partials/footer' ); %>
</body>
</html>